/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 20px;
}

.question {
  padding: 10px;
  width: 400px;
  margin-right: 0;
  border-color: lightgray;
  border-style: solid;
  border-radius: 10px 0px 0px 10px;
}

.ask_btn {
  padding: 12px 20px;
  color: white;
  background-color: rgb(38, 124, 181);
  border-radius: 0px 10px 10px 0px;
  border-style: none;
}

.answer {
  font-weight: bold;
}

.answer_page_container {
  display: flex;
}

.answer_container, .question_container {
  margin-left: 0;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-left: solid 5px grey;
}


.input, .answer {
  margin-top: 11px;
  margin-bottom: 5px;
}

.highlight {
  background-color: rgb(241, 232, 220);
}
